@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

$main-margin-side: 6rem;
$nav-margin-top-bottom: 0.6rem;

$gift-card-resize-ratio: 3;

@mixin links() {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
   margin: $nav-margin-top-bottom $main-margin-side $nav-margin-top-bottom $main-margin-side;
}

.dropdown {
    float: right;
    margin: 0 1rem 0 1rem;
    font-weight: 300;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    border: 0.1rem solid #dddddd;
    border-radius: 0.2rem;
    padding: 0;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {

    a {
        @include links;
        color: black;
    }

    span, li {
        user-select: none;
    }

    ul {
        list-style: none;
        padding: 0;
        min-width: 4rem;

        li {
            margin: 0;
            padding: 0 1rem 0 1rem;
        }

        li:hover {
            background-color: #00b0ff;
        }
    }
}

.message {
    background-color: #00c853;
    border-radius: 0.2rem;
    padding: 0.4rem;
    color: #1B5E20;
    font-weight: 300;
    
    a {
        @include links();
    }
}

.container {
    margin: 1rem $main-margin-side 1rem $main-margin-side;
}

.items {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
}



.product-item {
   
    margin: 1rem;

    @mixin  product($url) {
        background-image: url($url);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(616px/5);
        height: calc(889px/5);
    }

    .image-giftcard {

        @include product("../images/google-giftcard.png");

        .price{
            float: right;
            margin-right: 0.2rem;
            color: white;
            font-size: 0.8rem;
            padding: 0.2rem;
        }
    }

    .image-diamond {
        background-image: url('../images/diamond.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(616px/5);
        height: calc(889px/5);
    }

    span {
        font-weight: 300;
        font-size: small;
    }
    
    .price-label {
        color: #00E676;
    }
}


@media(max-width: 600px) {
   
    nav{
        margin: 1rem;
    }

    .container {
        margin: 0;
    }

    .message {
        margin: 1rem;
    }

    .items {
        margin: 0 auto 0 auto;
    }
}